<%= form_for(@service) do |f| %>
  <% if @service.errors.any? or !@service.auth_error.blank? %>
    <div id="error_explanation">
      <h2><%= pluralize(@service.errors.count, "error") %> prohibited this service from being saved:</h2>

      <ul>
      <% @service.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>

      <% if @service.auth_error %>
        <li><%= @service.auth_error %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if @service.type %>
    <%= render @service.name.downcase + '_form', new_service:f %>
  <% end %>

  <div class="actions">
    <br/>
    <%= f.hidden_field :name %>
    <%= f.submit "Save and and Authenticate" %>
  </div>
<% end %>
