<%= form_for(@service) do |f| %>
  <% if @service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@service.errors.count, "error") %> prohibited this service from being saved:</h2>

      <ul>
      <% @service.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% f.label :name, '3rd Party Service' %>
  <% f.select :name, Service.subclasses.map(&:name), prompt: "Select Supported Service" %> 
 
  <% if @service.name && @service.valid? %>
    <%= render @service.name.downcase + '_form', new_service:f %>
  <% end %>

  <div class="actions">
    <%= f.hidden_field :name %>
    <%= f.submit %>
    <br/>
  </div>
<% end %>
