<%= form_for(@service) do |f| %>
  <% if @service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@service.errors.count, "error") %> prohibited this service from being saved:</h2>

      <ul>
      <% @service.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :name, '3rd Party Service' %>
  <%= f.select :name, Service.subclasses.map(&:name), prompt: "Select Supported Service" %> 

  <%= f.label :auth_type, 'Authorization Type' %>
  <%= f.select :auth_type, ['rt', 'rad'], prompt: "Select Authorization Type" %>

  <%= f.label :authorization_domain, 'Authorization Domain' %>
  <%= f.text_field :authorization_domain %>

  <%= f.label :authorization_path, 'Authorization Path' %>
  <%= f.text_field :authorization_path %>

  <%= f.label :api_domain %>
  <%= f.text_field :api_domain %>

  <%= f.label :api_path %>
  <%= f.text_field :api_path %>

  <%= f.label :application_api_key, 'Customer Service Client ID' %>
  <%= f.text_field :application_api_key %>

  <%= f.label :application_api_secret, 'Custom Service Client Secret' %>
  <%= f.text_field :application_api_secret %>

  <%= f.label :application_api_secret %>
  <%= f.text_field :application_api_secret %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
