<p>
<%= new_service.label :custom_domain, 'Domain provided by Marketo' %>
https://<%= new_service.text_field :custom_domain %>
</p>

<p>
<%= new_service.label :custom_client_id %>
<%= new_service.text_field :custom_client_id %>
</p>

<p>
<%= new_service.label :custom_client_secret %>
<%= new_service.text_field :custom_client_secret %>
</p>

<p>
<%= new_service.label :auth_user, 'Authorized User ID' %>
<%= new_service.text_field :auth_user %>
p</p>
