
<div width="500px;">
  <div style="width:210px;display:inline-block;text-align:right;">
    <%= new_service.label :api_domain, 'Domain provided by VendHQ' %>
  </div>
  <div style="display:inline-block;">
    <%= new_service.text_field :api_domain, size: "40" %>
  </div>

  <div style="clear:both;"></div>
</div>


<div width="500px;">
  <div style="width:210px;display:inline-block;text-align:right;">
    <%= new_service.label :metrc_username, 'Metrc Username' %>
  </div>
  <div style="display:inline-block;">
    <%= new_service.text_field :metrc_username, size: "40" %>
  </div>

  <div style="clear:both;"></div>
</div>


<div width="500px;">
  <div style="width:210px;display:inline-block;text-align:right;">
    <%= new_service.label :metrc_password, 'Metrc Password' %>
  </div>
  <div style="display:inline-block;">
    <%= new_service.text_field :metrc_password, size: "40" %>
  </div>

  <div style="clear:both;"></div>
</div>
