<h2><%= @service.name %></h2>
<b>Auth Status: </b><i><%= @service.auth_status %></i>
<br/><br/>
<b>Auth Type: </b><i><%= @service.auth_type %><i/>
<br/><br/>
<b>Token Access: </b><i><%= @service.auth_domain + @service.token_path %><i/>
<br/><br/>
<b>API Access: </b><i><%= @service.api_domain + @service.api_path %><i/>
<br/><br/>
<b>Authorized User: </b><i><%= @service.auth_user %><i/>
<br/><br/>

<%= link_to 'Edit service', edit_service_path(@service) %> 
<br/><br/>

<h2>Service API Defintions</h2>
<%= render partial: 'definitions/index', locals: { definitions: @service.definitions } %>

<br/>
<%= link_to 'Back', services_path %>


