<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://code.jquery.com/ui/1.11.1/themes/ui-lightness/jquery-ui.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>

<%= form_for [@service, @definition], :html => {:multipart => true} do |f| %>
  <% if @definition.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@definition.errors.count, "error") %> prohibited this definition from being saved:</h2>

      <ul>
      <% @definition.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div width="500px;">
    <div style="width:210px;display:inline-block;text-align:right;">
      <%= f.label :description, 'Description of definition' %>
    </div>
    <div style="display:inline-block;">
      <%= f.text_field :description, size: "40" %>
    </div>
    <div style="clear:both;"></div>
  </div>

  <br/>
  <h3>REST API Request Parameters</h3>
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th style="width: 100px; text-align:right; padding-right:25px;">Name</th>
        <th>Description</th>
        <th style="width:100px; text-align:left;">Default</th>
        <th style="text-align:left;">Value</th>
      </tr>
      <% @definition.request_parameters.each do |param| %>
        <% param_tag = 'request_parameters[' + param.name + ']' %>
        <tr>
          <td><%= param.name %></td>
          <td><%= param.description %></td>
          <td><%= param.default %></td>
          <td>
            <% if param.options_type == 'string' %>
              <%= text_field_tag param_tag %>
            <% elsif param.options_type == 'date' %>
              <%= date_field_tag param_tag %>
            <% else %>
              <% options = options_for_select(param.options.map{|o| [ o[:name], o[:id] ]}, selected: param.value) %>
              <%= select_tag param_tag, options,
                include_blank: true,
                style: 'width:150px;' %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
  <br/>
  <br/>

  <b>CSV Template File (Headers Only!): </b><i><%= f.file_field :source_file %></i>
  <%= f.hidden_field :source_file_cache %>

  <br/>
  <br/>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
