<h1><%= @service.name %> Service Definition</h1>
<p style="margin-top:-15px;"><%= @definition.description %></p>

<h2>REST API Request Parameters</h2>
<p style="margin-top:-15px;">Leave blank and no value will be sent.</p>

<%= render partial: 'request_parameters/index', locals: { service: @service, definition: @definition, sync_operations: @definition.sync_operations } %>

<br/>
<br/>

<h2>Source to Destination Field Mapping</h2>
<% required_fields = @definition.destination_fields.where(is_required:  true) %>
<p style="margin-top:-15px;">
  The following destination_fields are required:
  <%= required_fields.map(&:display_name).to_s %>
</p>

<%= render partial: 'mappings/index', locals: { service: @service, definition: @definition } %>

<h2>Sync Operation Attempts</h2>
<p style="margin-top:-15px;">
Attempts to push data from CSV to service based on mappings defined above.
</p>

<%= render partial: 'sync_operations/index', locals: { service: @service, definition: @definition, sync_operations: @definition.sync_operations } %>

<%= link_to 'Back', service_path(@service) %>
