<div class="col-md-8">
  <table class="table">
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Default</th>
      <th>Value</th>
    </tr>
    <% definition.request_parameters.each do |param| %>
      <% param_tag = 'request_parameters[' + param.name + ']' %>
      <tr>
        <td><%= param.name %></td>
        <td><%= param.description %></td>
        <td><%= param.default %></td>
        <td><%= param.value %></td>
      </tr>
    <% end %>
    <tr>
      <td></td>
      <td>
        <%= link_to 'Edit Params', edit_service_definition_path(service, definition) %>
      </td>
      <td></td>
      <td></td>
    </tr>
  </table>
</div>
  <div class="clearfix"></div>
