<%= form_for [service, definition], :html => {:multipart => true} do |f| %>
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>Vend Product/Supplier Name</th>
        <th>Mits Product/Supplier Name</th>
        <th>Product Type</th>
        <th>Units of Measurement</th>
      </tr>
      <% definition.mappings.each do |mapping| %>
        <% header = mapping.source_header %>
        <% tag_name = 'mapping[' + header + ']' %>
        <% qualified_d_fields = self.get_qualified_destination_fields(definition) %>
        <% selected = mapping.destination_field_id %>
        <% options = options_from_collection_for_select(@definition.destination_fields,'id', 'name', selected) %>
        <tr>
          <td>
            <%= header %>
          </td>
          <td>
            <%= select_tag tag_name, options,
              include_blank: true,
              style: 'width:150px;' %>
          </td>
          <td><%= mapping.groupie_type %></td>
          <td><%= mapping.groupie_unit %></td>
        </tr>

      <% end %>
      <tr>
        <td colspan=5 style="text-align:center;">
          <div class="actions"><%= f.submit %></div>
        </td>
      </tr>
    </table>
  </div>
  <div class="clearfix"></div>
<% end %>
<br/>
<br/>

<% self.get_hidden_destination_fields(definition).each do |element| %>
  <%= raw element %>
<% end %>
